.jumbotron {
  width: 100%;
  color: yellow;
  margin: 30px;
  border-radius: 8px;
  background-color: lightslategray;
}

.score {
 color: yellow;
 font-weight: 600;
}

.lead {
  color: yellow;
  font-size: 24px;
}

.top-score {
color: yellow;
margin: 20px;
font-weight: 600;
}

h1 {
  font-size: 6rem;
  font-weight: 600;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.result {
  font-size: 24px;
  font-weight: 600;
}