
 body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
  color: white;
  min-height: calc(100vh - 70px);
  background: url("../src/components/images/splat-1.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: .96;
}
